.doctor-schedule-container{
    height: 100%;
    border-right: 1px solid #ddd;

    .all-schedule{
        select{
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-left: none;
            border-right: none;
            cursor: pointer;
            outline: none;
            padding: 10px 0;
            color: #337ab7;
            font-weight: 600;
        }
    }

    .all-available-time{
        .text-calendar{
            color: #333;
            margin: 10px 0;

            span{
                text-transform: uppercase;
                margin-left: 5px;
            }
        }

        .time-content{
            
            .time-content-btns{
                display: flex;
                grid-area: 15px;
                flex-wrap: wrap;

                button{
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    background-color: #fff04b;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    border-radius: 4px;
                    color: #333;
                    font-weight: 600;
        
                    &:hover{
                        background-color: #45c3d2;
                        color: white;
                    }
                }
        
                .btn-vie{
                    min-width: 120px;
                }
        
                .btn-en{
                    min-width: 170px;
                }
    
                .no-schedule{
                    font-style: italic;
                    font-size: 14px;
                }
            }

            .book-free{
                margin-top: 15px;
            }
        }
    }
}